name: Schedule Test

on:
  schedule:
    - cron: "*/15 * * * *" # every 15 minutes (UTC)
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print time
        run: |
          echo "Schedule test run at: $(date -u)"
